@media (min-width: 767px) { //responsivt grid
    .landingpage {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: 500px;
        gap: 2em;
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;

        .sidebar-box {
            grid-column: 1 / 2;
            background-color: rgb(106, 90, 103);
        }
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 767px) {
    .content-tech {
        grid-column: 2 / 3;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;

        .content-container {
            width: 420px;
            height: 350px;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 100px;
        }
    }

    .landingpage h1 {
        grid-column: span 2;
        justify-self: center;
    }
}
